{%load staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Band - The Musicians</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'style.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
 <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">The Band </a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">

        <li><a href="{% url 'webBlog:index' %}">HOME</a></li>
        <li><a href="{% url 'webBlog:band' %}">BAND</a></li>
        <li><a href="{% url 'webBlog:tour' %}">TOUR</a></li>
        <li><a href="{% url 'webBlog:contact' %}">CONTACT</a></li>
        <li><a href="{% url 'webBlog:blog' %}" >BLOG</a>
        <li><a href="{% url 'webBlog:polls-index' %}" >POLLS </a>

     </ul>
      </div>
  </div>
  </nav>

<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
  <h3>THE BAND</h3>
  <p><em>We love music!</em></p>
  <p> Welcome to our Website! We hope you enjoy and get a chance to see us perform.
  	Behaviour we improving at something to. Evil true high lady roof men had open. To projection considered it precaution an melancholy or. Wound young you thing worse along being ham. Dissimilar of favourable solicitude if sympathize middletons at. Forfeited up if disposing perfectly in an eagerness perceived necessary. Belonging sir curiosity discovery extremity yet forfeited prevailed own off. Travelling by introduced of mr terminated. Knew as miss my high hope quit. In curiosity shameless dependent knowledge up.

  </p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Greg White</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="{%static "assets/head1.jpg" %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>Guitarist and Lead Vocalist</p>
        <p>I surf 24/7 in my free time.</p>
        <p>Member since 2010</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Dave Shipper</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="{%static "assets/head2.jpg" %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>Drummer</p>
        <p>Walks the runway and can keep a beat.</p>
        <p>Member since 2010</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>John Doe</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="{%static "assets/head3.jpg" %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p>Bass player</p>
        <p>I also love catching Bass! </p>
        <p>Member since 2015</p>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip();

  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>

</body>


<footer class="text-center" >
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p> &copy; Jordan Roberts</p>
</footer>



</html>
